.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0px 25px;
}

.header__name {
  font-size: 20px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__users,
.header__messages,
.header__time {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45px;
  justify-content: space-between;
}

.header__users,
.header__messages {
  margin-left: 35px;
}

.header__users p,
.header__messages p,
.header__time p {
  margin: 0px;
}

.header__users i,
.header__messages i,
.header__time i {
  font-size: 11px;
  margin-right: 10px;
}
