:root {
  --border-color: #eeeeee;
  --bg-color: #fff;

  --message-own-bg-color: #eceff1;
  --message-users-bg-color: #42b0f8;
  --message-own-color: #1a1a1a;
  --message-users-color: #fff;
}

body {
  background-image: url('./assets/bg-img.jpg');
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
